<p-toast key="tst"></p-toast>
<div class="col-12" [formGroup]="mainForm">
    <div class="card">
        <h5>Transfer Order</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="col-12">
                <input hidden formControlName="p_transfer_order_id">
                <div class="flex flex-wrap gap-3">
                    <div *ngFor="let item of itemTypeList" class="field-checkbox">
                        <p-radioButton 
                            [inputId]="item.key" 
                            [value]="item"
                            formControlName="p_item_type" />
                        <label [for]="item.key" class="ml-2">{{ item.name }}</label>
                    </div>
                </div>

                <div class="grid p-fluid">
                    <div class="col-12 md:col-6 lg:col-2">
                        <label htmlFor="ref_no">Reference No.<span style="color: red;">*</span></label>
                        <input type="text" pInputText formControlName="p_ref_no" />
                    </div>
                    <div class="col-12 md:col-6 lg:col-10">
                        <label htmlFor="reason">Reason<span style="color: red;">*</span></label>
                        <input type="text" pInputText formControlName="p_reason" />
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                        <label htmlFor="from_company">From Company<span style="color: red;">*</span></label>
                        <p-dropdown 
                            formControlName="p_from_company_id" 
                            [options]="companyList" 
                            optionLabel="company_name" 
                            placeholder="Select a Company" />
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                        <label htmlFor="to_company">To Company<span style="color: red;">*</span></label>
                        <p-dropdown 
                            formControlName="p_to_company_id" 
                            [options]="companyList" 
                            optionLabel="company_name" 
                            placeholder="Select a Company" />
                    </div>

               
                </div>
            </div>

            <!-- table.component.html -->
            <div class="col-12">
    <button (click)="addRow()">&#43; Add Row</button>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Qty</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; let i = index">
          <td>{{ row.id }}</td>
          <td><p-autoComplete 
            [(ngModel)]="selectedItem[i]" 
            [suggestions]="suggestions" 
            (completeMethod)="search($event)" /></td>
          <td>{{ row.qty }}</td>
          <td>
            <button (click)="removeRow(row.id)">&#10006;</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
        </div>

        <div class="field col-12 md:col-3">
            <div class="flex gap-2">
                <button pButton pRipple type="button" label="Save" (click)="SaveTransferOrder()"></button>
                <button pButton pRipple type="button" label="Clear" (click)="Clear()"></button>
            </div>
        </div>
    </div>
</div>

