<p-toast key="tst"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="grid card">
  
	<div class="col-3">
	

            <p-listbox 
    [options]="itemsList" 
    [filter]="true" 
    optionLabel="ref_no"
    [(ngModel)]="SelectedItem"
    (onClick)="GetItem($event.value)"
>
  
</p-listbox>
          
       
        </div>
        <div class="col-9">
                <div class="col-12" style="display: flex; justify-content: space-between; align-items: center;">
                    <h2>{{SelectedItem.ref_no}}</h2>
                    <div>
                        <!-- <button pButton pRipple type="button" label="Delete" (click)="Delete(SelectedItem.item_id)"></button> -->
                    </div>
                </div>
                
<div class="col-12">
    <p-tabView>
        <p-tabPanel header="Print/PDF" >
            <p>
               <app-preview-invoice></app-preview-invoice>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Edit">
          
             <p>
               <app-invoice></app-invoice>
            </p>
       
           
        </p-tabPanel>
        <p-tabPanel header="Payment">
         <p><app-payable></app-payable></p>
        </p-tabPanel>
       
    </p-tabView>
</div>
           
        </div>
        
    </div>