<p-toast key="tst"></p-toast>
<div class="col-12"  [formGroup]="mainForm">
    <div class="card">
        <h5>Item</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="col-12">
                <div class="col-6">
            <div class="flex flex-wrap gap-3">
                <input hidden  formControlName="p_item_id">
                <div *ngFor="let item of itemTypeList" class="field-checkbox">
                    <p-radioButton 
                        [inputId]="item.key" 
                        [value]="item"
                        formControlName="p_item_type" />
                    <label [for]="item.key" class="ml-2">
                        {{ item.name }}
                    </label>
                </div>
            
            </div>  
            <div class="field col-12 ">
                
                <label htmlFor="state">Name<span style="color: red;">*</span></label>
                    <input type="text" pInputText formControlName="p_name" />
                
            
            </div>  
            <div class="field col-12 ">
                
                <p-dropdown 
                formControlName="p_brand_id" 
                [options]="brandList"
                optionLabel="name"
                placeholder="Select a Brand" />
            
            </div>  
            <div class="field col-12 ">
                
                <p-dropdown 
                formControlName="p_unit_id" 
                [options]="unitList"
                optionLabel="name"
                placeholder="Select a Unit" />
            
            </div>  
            <div class="field col-12 ">
                
                <p-dropdown 
                formControlName="p_country_id" 
                [options]="countryList"
                optionLabel="name"
                placeholder="Select a Country" />
            
            </div>  
        </div>
        <div class="col-6">
             <div class="field col-12 md:col-6">
                <label htmlFor="state">Upload File<span style="color: red;">*</span></label>
                <p-fileUpload mode="basic" chooseLabel="Upload Image"  accept="image/*" [maxFileSize]="1000000" (onSelect)="onUpload($event)"></p-fileUpload>

            </div>
        </div>
        </div>
        
        
      
        
            
        </div>
        <div class="field col-12 md:col-3">
            <div class="flex gap-2">
                <button pButton pRipple type="button" label="Save" (click)="SaveItem(mainForm.value)"></button>
                <button pButton pRipple type="button" label="Clear"  (click)="Clear()"></button>
            </div>
        </div>
    </div>
</div>
