<p-toast key="tst"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="grid">
	<div class="col-3">
		<div class="card">
        </div>
        </div>
        <div class="col-9">
            <div class="card">
                <p-tabView>
                    <p-tabPanel header="Overview">
                        <p>
                            Lorem ipsum dolor sit amet...
                        </p>
                    </p-tabPanel>
                    <p-tabPanel header="Warehouses">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                        </p>
                    </p-tabPanel>
                    <p-tabPanel header="Transactions">
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos...
                        </p>
                    </p-tabPanel>
                    <p-tabPanel header="History">
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos...
                        </p>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
        
    </div>