<p-toast key="tst"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="grid">
	<div class="col-3">
		<div class="card">
            <p-orderList 
            [value]="itemsList" 
            [listStyle]="{ 'max-height': '30rem' }" 
            header="Items"
            filterBy="name" 
            filterPlaceholder="Filter by name">
                <ng-template let-mainList pTemplate="item">
                    <div class="flex flex-wrap p-2 align-items-center gap-3">
                   
                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{mainList.name}}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <span>{{mainList.item_type}}</span>
                                </div>
                            </div>
                        <span class="font-bold text-900">
                            {{mainList.cost_price}}
                        </span>
                    </div>
                </ng-template>
        </p-orderList>
        </div>
        </div>
        <div class="col-9">
            <div class="card">
                <p-tabView>
                    <p-tabPanel header="Overview">
                        <p>
                            Lorem ipsum dolor sit amet...
                        </p>
                    </p-tabPanel>
                    <p-tabPanel header="Warehouses">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                        </p>
                    </p-tabPanel>
                    <p-tabPanel header="Transactions">
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos...
                        </p>
                    </p-tabPanel>
                    <p-tabPanel header="History">
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos...
                        </p>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
        
    </div>