<p-toast key="tst"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Filter Menu</h5>
			<p-table #dt1 [value]="mainList" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['image_url','redirect_url','flg_click']" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th>Image Url</th>
						<th>Video Url</th>
						<th>Action</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-mainList>
					<tr>
						<td><img [src]="mainList.image_url"  width="100" class="shadow-4" /></td>
						
						<td>
							{{mainList.video_url}}
						</td>
					<td>	
						<div class="flex flex-wrap gap-2">
						<button pButton pRipple type="button" label="Edit" (click)="GetDetail(mainList.id)"></button>
						<button pButton pRipple type="button" label="Delete" (click)="Delete($event,mainList.id)"></button>
					</div>
					</td>
					
						
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No data found.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Loading  data. Please wait.</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

	</div>
    </div>
