<p-toast key="tst"></p-toast>
<div class="col-12"  [formGroup]="mainForm">
    <div class="card">
        <h5>Item</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="col-12">
        

            <div class="col-12">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-6 lg:col-6">
                
                        <input hidden  formControlName="p_purchase_bill_id">
                <label htmlFor="state">Vendor Name<span style="color: red;">*</span></label>
                      
                <p-dropdown 
                formControlName="p_customer_id" 
                [options]="customerList"
                optionLabel="name"
                placeholder="Select a Customer" />
                
            
            </div>  
                <div class="col-12 md:col-6 lg:col-6">
            
                    <label htmlFor="state">Branch<span style="color: red;">*</span></label>
                      
                    <p-dropdown 
                    formControlName="p_brand_id" 
                    [options]="brandList"
                    optionLabel="name"
                    placeholder="Select a Branch" />
                    
            
        
        </div>  

            <div class="col-12 md:col-6 lg:col-3">
                <label htmlFor="state">Bill No.<span style="color: red;">*</span></label>
                    <input type="text" pInputText formControlName="p_bill_no" />
            </div>  
            <div class="col-12 md:col-6 lg:col-3">
                <label htmlFor="state">Order No.</label>
                    <input type="text" pInputText formControlName="p_order_no" />
            </div>  
            <div class="col-12 md:col-6 lg:col-2">
                <label htmlFor="state">Permit No.</label>
                    <input type="text" pInputText formControlName="p_permit_no" />
            </div>  
            <div class="col-12 md:col-6 lg:col-2">
                <label htmlFor="state">Bill Date</label>
                <p-calendar formControlName="p_bill_date" />
            </div>  
            <div class="col-12 md:col-6 lg:col-2">
                <label htmlFor="state">Due Date</label>
                <p-calendar formControlName="p_due_date" />
            </div> 
            <div class="col-12 md:col-6 lg:col-2">
            
                <label htmlFor="state">Payment Terms</label>
                      
                <p-dropdown 
                formControlName="p_payment_term_id" 
                [options]="paymentTermList"
                optionLabel="name"
                placeholder="Select a Payment Term" />
            </div> 
            <div class="col-12 md:col-6 lg:col-3">
                <label htmlFor="state">Notes</label>
                    <input type="text" pInputText formControlName="p_notes" />
            </div> 
        </div>
    </div>

        </div>
              <!-- table.component.html -->
              <div class="col-12">
                <button (click)="addRow()">&#43; Add Row</button>
                <table>
                  <thead>
                    <tr>
                      <th>Branch</th>
                      <th>Opening Stock</th>
                      <th>Opening Stock Value</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of rows; let i = index">
                      <td><p-dropdown  
                        [(ngModel)]="rows[i].branch_id" [ngModelOptions]="{standalone: true}"
                        [options]="companyList"
                        optionLabel="company_name"
                        placeholder="Select a branch" /></td>
                      <td>  <input type="text" pInputText [(ngModel)]="rows[i].stock"  [ngModelOptions]="{standalone: true}"/></td>
                      <td><input type="text" pInputText [(ngModel)]="rows[i].stock_value" [ngModelOptions]="{standalone: true}" /></td>
                      <td>
                        <button class="icon-button action" (click)="removeRow(row.id)">
                         X
                        </button>
                      </td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
        
      
        
            
        </div>
        <div class="field col-12 md:col-3">
            <div class="flex gap-2">
                <button pButton pRipple type="button" label="Save" (click)="SaveItem(mainForm.value)"></button>
                <button pButton pRipple type="button" label="Clear"  (click)="Clear()"></button>
            </div>
        </div>
    </div>
</div>
