<p-toast key="tst"></p-toast>
<div class="col-12"  [formGroup]="mainForm">
    <div class="card">
        <h5>Purchase Order</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="col-12">
        

            <div class="col-12">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-12 lg:col-12">
                
                        <input hidden  formControlName="p_purchase_order_id">
                <label htmlFor="state">Vendor Name<span style="color: red;">*</span></label>
                <div class="flex align-items-center">
                <p-dropdown 
                formControlName="p_customer_id" 
                [options]="customerList"
                optionLabel="customer_name"
                placeholder="Select a Customer"
                [filter]="true"
    filterBy="customer_name" 
    [showClear]="true"
    (onChange)="SelectedCustomer($event.value)"
    [ngStyle]="{ 'flex': '1' }"
    [ngClass]="{'ng-invalid ng-dirty': mainForm.controls.p_customer_id.touched && mainForm.controls.p_customer_id.invalid}"
                />
                  <!-- Currency Avatar -->
        <div *ngIf="selectedCustomer && selectedCustomer.currency_name" class="ml-2">
            <p-avatar 
                label="{{selectedCustomer.currency_name}}" 
                styleClass="mr-2" 
                size="large" 
                [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }" 
            ></p-avatar>
        </div>
    </div>
</div>  
<div class="col-12 md:col-6 lg:col-12">
    <label htmlFor="state">Delivery Address<span style="color: red;">*</span></label>
<div class="flex flex-wrap gap-3">
    <div *ngFor="let item of deliveryType" class="field-checkbox">
        <p-radioButton 
            [inputId]="item.key" 
            [value]="item"
            formControlName="p_delivery_type"
            (onClick)="SetDeliveryType($event.value)"
            />
        <label [for]="item.key" class="ml-2">
            {{ item.name }}
        </label>
    </div>

</div>  
</div>
<div class="col-12 md:col-6 lg:col-6">

    <p-dropdown 
    formControlName="delivery_type_id" 
    [options]="deliveryTypeList"
    optionLabel="company_name"
    optionValue="company_id"
    [filter]="true"
filterBy="company_name" 
[showClear]="true"
 
    >
</p-dropdown>
    


</div>  

                <div class="col-12 md:col-6 lg:col-6">
            
                    <label htmlFor="state">Branch<span style="color: red;">*</span></label>
                      
                    <p-dropdown 
                    formControlName="p_branch_id" 
                    [options]="companyList"
                    optionLabel="company_name"
                    optionValue="company_id"
                    placeholder="Select a Branch" 
                    [filter]="true"
        filterBy="company_name" 
        [showClear]="true"
                    [ngClass]="{'ng-invalid ng-dirty': mainForm.controls.p_branch_id.touched && mainForm.controls.p_branch_id.invalid}"
                    >
                </p-dropdown>
                    
            
        
        </div>  

            
        <div class="col-12 md:col-6 lg:col-3">
            <label htmlFor="state">Date<span style="color: red;">*</span></label>
            <p-calendar formControlName="p_purchase_order_date" 
            [ngClass]="{'ng-invalid ng-dirty': mainForm.controls.p_purchase_order_date.touched && mainForm.controls.p_purchase_order_date.invalid}"   dateFormat="dd/mm/yy" [showIcon]="true" [showOnFocus]="false"  />
        </div> 
           
            <div class="col-12 md:col-6 lg:col-3">
                <label htmlFor="state">Delivery Date<span style="color: red;">*</span></label>
                <p-calendar formControlName="p_delivery_date" 
                [ngClass]="{'ng-invalid ng-dirty': mainForm.controls.p_delivery_date.touched && mainForm.controls.p_delivery_date.invalid}"    dateFormat="dd/mm/yy" [showIcon]="true" [showOnFocus]="false"  />
            </div>
            <div class="col-12 md:col-6 lg:col-2">
            
                <label htmlFor="state">Payment Terms<span style="color: red;">*</span></label>
                      
                <p-dropdown 
                formControlName="p_payment_term_id" 
                [options]="paymentTermList"
                optionLabel="name"
                placeholder="Select a Payment Term"
                (onChange)="ChangePaymentDate($event)"
                [ngClass]="{'ng-invalid ng-dirty': mainForm.controls.p_payment_term_id.touched && mainForm.controls.p_payment_term_id.invalid}" 
                />
            </div> 
            <div class="col-12 md:col-6 lg:col-4">
                <label htmlFor="state">Notes</label>
                    <input type="text" pInputText formControlName="p_notes" />
            </div> 
        </div>
    </div>

        </div>
              <!-- table.component.html -->
              <div class="col-12" *ngIf="selectedCustomer && selectedCustomer.currency_name">
                <table *ngIf="rows.length>0">
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Qty</th>
                      <th>Rate</th>
                      <th>Discount</th>
                      <th>Tax</th>
                      <th>Amount</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of rows; let i = index">
                      <td>
                        <p-autoComplete 
                        [(ngModel)]="rows[i].item_name"  
                        [ngModelOptions]="{standalone: true}"
                        [dropdown]="true"
                        [showClear]="true"
                        [forceSelection]="true"
                    [suggestions]="suggestions" 
                    (completeMethod)="search($event)" 
                    (onSelect)="onSelect($event, i)"
                    optionLabel="name"></p-autoComplete>

                    
                   <div *ngIf="rows[i].item_name!=''" style="padding: 10px;"><textarea pInputTextarea rows="2"  [(ngModel)]="rows[i].description" placeholder="Add a description to your item" style="width: 100%;" [ngModelOptions]="{standalone: true}">

                    </textarea>
                </div> 
                      </td>
                      <td style="width: 10%;"><input type="number" width="10%" pInputText [(ngModel)]="rows[i].qty"  (blur)="calculate(i)" [ngModelOptions]="{standalone: true}"/></td>
                      <td style="width: 10%;"><input type="number" width="10%" pInputText [(ngModel)]="rows[i].rate"  (blur)="calculate(i)"  [ngModelOptions]="{standalone: true}"/></td>
                      <td style="width: 10%;"><input type="number" width="10%" pInputText [(ngModel)]="rows[i].discount"  (blur)="calculate(i)" [ngModelOptions]="{standalone: true}"/></td>
                      <td style="width: 10%;">
                        <p-dropdown 
                        [(ngModel)]="rows[i].tax"  [ngModelOptions]="{standalone: true}"
                        [options]="taxList"
                        optionLabel="name"
                        optionValue="tax_treatment_id"
                        (onChange)="calculate(i)"
                        placeholder="Select a tax" >
                    </p-dropdown>
                       <td style="width: 10%;"><input type="number" width="10%" pInputText [(ngModel)]="rows[i].amt"  [ngModelOptions]="{standalone: true}"/></td>
                      <td style="width: 10%;">
                        <button class="icon-button action" (click)="removeRow(row.id,i)">
                         X
                        </button>
                      </td>
                    </tr>
                    <tr>
                        <td colspan="5"><strong style="float: right;">Sub Total</strong></td>
                        <td colspan="2"> <strong>{{this.mainForm.value.p_sub_total}} </strong></td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong style="float: right;">Discount</strong></td>
                        <td colspan="2">
                            <div class="p-inputgroup">
                                <!-- Text Input -->
                                <p-inputNumber 
                                  inputId="integeronly" 
                                  [(ngModel)]="totalDiscount"  [ngModelOptions]="{standalone: true}"
                                  placeholder="Enter discount"
                                  (onBlur)="getTotalDiscount()"
                                  >
                                </p-inputNumber>
                              <span *ngIf="discountType=='amount'" style="cursor: pointer;" class="p-inputgroup-addon" (click)="setDiscountType('percentage')">{{selectedCustomer.currency_name}}</span> 
                             <span  *ngIf="discountType=='percentage'" style="cursor: pointer;" class="p-inputgroup-addon"  (click)="setDiscountType('amount')"><i class="pi pi-percentage"></i></span>
                                
                              </div>
                              
                        </td>
                        <td colspan="2"> <strong>{{this.mainForm.value.p_discount}} </strong></td>
                      </tr>
                      
                    <tr>
                        <td colspan="5"><strong style="float: right;">{{selectedCustomer.tax_treatment_name}}</strong></td>
                        <td colspan="2"> <strong>{{this.mainForm.value.p_tax}} </strong></td>
                    </tr>
                      <tr>
                          <td colspan="5"><strong  style="float: right;">Total ({{selectedCustomer.currency_name}})</strong></td>
                          <td colspan="2"> <strong>{{this.mainForm.value.p_total}}  </strong></td>
                      </tr>
                      
                  </tbody>
                </table>
                <button (click)="addRow()">&#43; Add Row</button>
              </div>
        
        
            
        </div>
        <div class="field col-12 md:col-3">
            <div class="flex gap-2">
                <button pButton pRipple type="button" label="Save" (click)="Save(mainForm.value)"></button>
                <button pButton pRipple type="button" label="Clear"  (click)="Clear()"></button>
            </div>
        </div>
    </div>
</div>
